<div class="container">
  <h5>Főoldal szerkesztése</h5>
  <hp-szerkesztesitem
    *ngFor="let hir of this.osszesHir"
    [hir]="hir"
    (onChecked)="onCheckBoxUpdates($event, hir.id)"
    (onMarked)="onMarkedAsVezerCikk($event, hir.id)"
    [isChecked]="initCheckBoxes(hir.id!)"
    [isMarked]="initRadio(hir.id!)"
    (onDelete)="deleteHir($event, hir.id!)"
  >
  </hp-szerkesztesitem>
  <div class="mb-5 mt-2">
    <button class="btn btn-danger mx-2" (click)="submitHirekToFoOldal()">Kiválasztott hírek mentése a főoldalra</button>
    <a class="btn btn-primary mx-2" routerLink="/">Főoldalra</a>
    <a class="btn btn-primary mx-2" routerLink="/manageszerkesztok">Szerkesztők kezelése</a>

    <input name="ujkategoria" [(ngModel)]='ujkategoria' type="text" class="form-control" id="ujkategoria" placeholder="ujkategoria">
    <button class="btn btn-primary" (click)="addUjKategoria()">Új kategória mentése</button>
    <input name="torleskategoria" [(ngModel)]='kategoriaTodelete' type="text" class="form-control" id="torleskategoria" placeholder="torleskategoria">
    <button class="btn btn-danger" (click)="removeKategoria()">Kategória törlése</button>
    <p *ngIf="hibauzenet">Válasszon vezércikket a kiválasztott cikkek közül!</p>
  </div>
</div>
