h4 {
  font-size: 4rem;
  text-align: center;
}

.filtertext:hover {
  text-decoration: underline;
  color: black;
  font-size: 1.6rem;
}


.filtertext {
  color: black;
  font-size: 1.5rem;
}

.navbar-light {
  background-color: rgb(235, 235, 235) !important;
  border-bottom: 1px solid black;

}

