h4 {
  font-size: 6rem;
  text-align: center;
}

.filtertext:hover {
  text-decoration: underline;
  color: black;
  font-size: 1.6rem;
  transform: scale(1.05);
}


.filtertext {
  color: black;
  font-size: 1.5rem;
  transition: all .2s ease-in-out;
}

.navbar-light {
  background-color: rgb(235, 235, 235) !important;
  border-bottom: 1px solid black;
}

.btnszerk {
  line-height: 20px;
}

nav {
  background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(49, 224, 255));
}
