<nav class="navbar navbar-light bg-light justify-content-between row pt-5">
  <div class="row d-flex justify-content-between">
    <a *ngIf="showSzerkesztesGombok" class="btn btn-danger" routerLink="/ujhir">Új hír felvétele</a>
    <a *ngIf="showSzerkesztesGombok" class="btn btn-danger" routerLink="/szerkesztes">Szerkesztes</a>

    <h4 class="col-4 justify-content-center align-items-center">Hírportál</h4>

    <div class="col-4 justify-content-center nav" >
      <button type="button" value="Belföld" (click)="setActiveCategory(cat1.value)" class="nav-link filtertext" #cat1>Belföld</button>
      <button type="button" value="Külföld" (click)="setActiveCategory(cat2.value)" class="nav-link filtertext" #cat2>Külföld</button>
      <button type="button" value="Kultúra" (click)="setActiveCategory(cat3.value)" class="nav-link filtertext" #cat3>Kultúra</button>
      <button type="button" value="" (click)="setActiveCategory(cat4.value)" class="nav-link filtertext" #cat4>Összes</button>
    </div>

    <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm.value)" class="col-4 row" ngNativeValidate>
      <div class="form-group col-5">
        <label for="username">Felhasználónév</label>
        <input name="felhasznalonev" type="text" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Felhasználónév" ngModel required>
      </div>
      <div class="form-group col-5">
        <label for="password">Jelszó</label>
        <input name="jelszo" type="password" class="form-control" id="password" placeholder="Jelszó" ngModel required>
      </div>
      <div class="form-group col-2 d-flex align-items-center">
        <button type="submit" value="submit" class="btn btn-light py-2">{{loginText}}</button>
      </div>
    </form>
  </div>

  <form class="row d-flex justify-content-center">
    <div class="col-3">
      <input class="form-control mr-sm-2" type="search" placeholder="Keresés" aria-label="Search" (keyup.enter)="searchInHirek($event.target)" #filter>
      <div class="form-check form-switch">
        <input class="form-check form-switch" value="isToggled" (change)="setToggle()" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        <small>Kersés az összeshírben</small>
      </div>
    </div>
  </form>

</nav>


<section>
  <div>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <div *ngFor="let hir of filteredHirek; index as i">
            <!--id alapjan lehet statikus vezer cikk rendezni hogy az elso legyen kollekcioban-->
            <hp-hir *ngIf="i != 0" [hir]="hir" [vezcikk]="false" class=".nemvezer"></hp-hir>
            <hp-hir *ngIf="i == 0" [hir]="hir" [vezcikk]="true" class=".vezer"></hp-hir>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
