h4 {
  font-size: 5rem;
  text-align: center;
}

.filtertext:hover {
  text-decoration: underline rgb(255, 68, 68);
  font-size: 1.3rem;
  transform: scale(1.05);
}

.filtertext {
  color: black;
  font-size: 1.3rem;
  transition: all .2s ease-in-out;
  min-height: 50px;;
}

.underline{
  text-decoration: underline rgb(255, 68, 68);
}

.navbar-light {
  background-color: rgb(235, 235, 235) !important;
  border-bottom: 1px solid black;
}

.btnszerk {
  line-height: 20px;
  font-size: 1rem;
}

nav {
  background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(235, 235, 235));
}
