<img class="card-img-top" src="../../assets/testheader.webp" alt="Card image cap">
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col">
      <div class="card">
        <div class="card-body" *ngIf="!!hirbyid">
          <h5 class="card-title">{{hirbyid.cim}}</h5>
          <p>{{hirbyid.letrehozas}}</p>
          <p class="card-text">{{hirbyid.szoveg}}</p>
        </div>
        <a href="#" class="btn btn-light">Vissza a főoldalra</a>
      </div>
    </div>
  </div>
</div>
