<div *ngIf="!!hirbyid">
  <img *ngIf="!!hirbyid.keplink" class="card-img-top" src={{hirbyid.keplink}} alt="Card image cap">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{hirbyid.cim}}</h5>
            <h4><span class="{{sz.nev}}" *ngFor="let sz of hirbyid.szerkesztok">{{sz.nev+" "}}</span></h4>
            <p>{{hirbyid.letrehozas}}</p>
            <p class="card-text">{{hirbyid.szoveg}}</p>
          </div>
          <a href="#" class="btn btn-light">Vissza a főoldalra</a>
        </div>
      </div>
    </div>
  </div>
</div>

